[Unit]
Description=Kiosk Launcher
After=systemd-user-sessions.service getty@tty1.service
Wants=graphical.target

[Service]
User=kiosk
Environment=DISPLAY=:0
PAMName=login
TTYPath=/dev/tty1
StandardInput=tty
StandardOutput=journal
StandardError=journal

# Inicia X + kiosk.sh
ExecStart=/usr/bin/xinit /opt/kiosk.sh -- :0 vt1 -keeptty -novtswitch

Restart=always
RestartSec=5

[Install]
WantedBy=graphical.target
